numpy==1.26.4
pandas==2.2.3
matplotlib==3.9.3
seaborn==0.13.2
scikit-learn==1.6.0
scipy==1.14.1
statsmodels==0.14.4
ipykernel==6.29.5
causalpy==0.4.0
imageio==2.36.1
tqdm==4.67.1
requests==2.32.2
beautifulsoup4==4.12.3
urllib3==2.3.0
langchain==0.3.14 
langchain-community==0.3.14
pydantic==2.10.5
google-auth==2.37.0
langchain-google-genai==2.0.8
pypdf2==3.0.1
aiometer==0.5.0
asynciolimiter==1.1.1
mailslurp-client==15.19.22